node_modules
npm-debug.log
.git
.gitignore
README.md
.next
.env
.env.local
.env.*.local
.env.*
.env.docker
.env.example
.env.local.example
dist
build
coverage
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.cache
.turbo
.playwright
tests
playwright.config.ts
Makefile
.make*
.playwright-cli
.playwright-mcp
playwright-report
.monitoring-thresholds.jsonargocd
__tests__
.next-broken
.next-build-failed
.next.*
test-results
QA_Reports
public/catalogs/*